:root {
    --black-russian: #0f0e17;
    --midnight-blue: #1f1d2f;
    --light-midnight:#27243b;
    --dark-grayish-blue: #2f2c47;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --grayish-blue: #a7a9be;
    --tomato: #f25f4c;
    --light-grayish: #e0e0e8;
    --bright-pink: #e53170;
    --vivid-orange: #ff921a;
    --green-tint: rgba(100, 255, 218, 0.1);
}