.navbar {
    background-color: var(--midnight-blue);
    padding-top: 23px; 
    padding-left: 30px;
    padding-right: 30px;
    
}
     
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.navbar-brand {
    font-size: 22px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-nav li {
    margin-right: 30px;

}

.navbar-brand {
    text-decoration: none;
    color: #333;
}


@media (max-width: 600px) {
    .links{
        display:none;
    }
    .navbar-collapse {
        display: flex;
    }

    .navbar-collapse {
        display: flex;
    }

    /**/.navbar-nav {
        flex-direction: column;
        position: relative;
        top: 56px;
        left: 0;
        right: 0;
        background-color: var(--midnight-blue);
        margin:0;
        padding:0;
    }

    .navbar-nav li {
        margin-right: 0;
    }

    
}
