#projects {
  margin: auto;
  padding-top: 100px;
  max-width: 1000px;
  min-height: 50vh;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 10px;
}

@media (max-width: 1080px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.projects-card {
  position: relative;
  cursor: default;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  height: 100%;
  padding: 1rem 1.75rem;
  background-color: var(--light-midnight);
  border-radius: 16px;
}

.projects-card:hover {
  transform: translateY(-7px);
  background-color: var(--dark-grayish-blue);
}

.card-header {
  margin-top: -10px;
  display: flex;
  padding: 20px 0 !important;
  flex-direction: row;
  justify-content: space-between ; 
  border-bottom: none !important;
}
.folder-icon {
  color: var(--vivid-orange);
  font-size: 25px;
}

.github-icon {
  margin-top: 6px;
  font-size: 25px;
}
.github-icon:hover {
  color: var(--light-grayish) !important;
}


.card-title {
  font-family: "NTR", sans-serif;
  color: var(--light-grayish);
  font-size: 24px;
  font-weight: bold;
}

.card-desc {
  font-family: "NTR", sans-serif;
  color: var(--grayish-blue);
  font-size: 18px;
  padding-bottom: 40px;
  line-height: 1.8;
}

.card-tech {
  font-family: "NTR", sans-serif;
  color: var(--grayish-blue);
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #projects {
    height: unset;
    padding-left: unset;
    padding-right: unset;
    
  }
  .project-container{
    column-gap:10px;
  }
  
  .projects-grid{
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 16;
    margin-top: 0;
    
  }
}
